<h1>About</h1>
<p style="text-align: justify">This is an <strong>Rail intro Project</strong>. It includes three navigation pages such
  as Checkins, Customers and About. The Dataset includs 4 models: Customer, Checkin, Technician and Service. There are
  some relationship between models. Many-to-Many associartion is made for
  Customer and Checkin, while Checkin model will have one-to-many relationship with Technician and Service. The dataset
  is created by using Faker gem and some hand-made data. Below is the ERD diagram for the Project.
</p>
<%= image_tag('erd', width: '100%', alt: 'ERD Diagram') %>
<div class="row">
  <div class="col">
    <p>Author: Jon Tran</p>
    <p>Email: trungt8998@gmail.com</p>
    <p>Linkin: <a href="link.com">Jon Tran</a></p>
    <P>Address: Red River College _ Princess Campus</P>
  </div>
  <div class="col">
    <div id='map'></div>
    <pre id='coordinates' class='coordinates'></pre>
  </div>
</div>
<!-- TODO: Edit map box to show Princess Campus address -->
<style>
  .coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;

  }
</style>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidHJ1bmd0ODk5OCIsImEiOiJjanVjeXVjc3QwMXY1NDNtdG05aXgyNXJiIn0.pTYDSCaJyVfprrxxsXFzAQ';
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    center: [-97.141045, 49.900404], // starting position [lng, lat]
    zoom: 10 // starting zoom
  });

  var marker = new mapboxgl.Marker({
    draggable: true
  })
    .setLngLat([0, 0])
    .addTo(map);

  function onDragEnd() {
    var lngLat = marker.getLngLat();
    coordinates.style.display = 'block';
    coordinates.innerHTML = 'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
  }

  marker.on('dragend', onDragEnd);
</script>