<h1>Check-in System</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Technician</th>
      <th scope="col">Services</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @checkin.date%></td>
      <td>
        <%= link_to(@checkin.customers[0].first_name + ' ' + @checkin.customers[0].last_name, customer_path(@checkin.customers[0])) %>
      </td>
      <td>
        <% tech = []%>
        <% @checkin.technicians.each do |technician|%>
        <% tech.push(technician.name)%>
        <% end %>
        <%= tech * ", "%>
      </td>
      <td>
        <% ser = []%>
        <% @checkin.services.each do |service|%>
        <% ser.push(service.name)%>
        <% end %>
        <%= ser * ", "%>
      </td>
    </tr>
  </tbody>
</table>